// // Layout: contains all the CSS that handles the layout,
// //such as the container and any grid systems.

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Light.eot");
  src: url("OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("OpenSans-Light.woff2") format("woff2"),
    url("OpenSans-Light.woff") format("woff"),
    url("OpenSans-Light.ttf") format("truetype"),
    url("OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

html {
  font-family: "Open Sans";
}

body {
  background: black;
  font-size: 14px;
  color: #ffffff;
}

.items {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
}

.choose {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: space-between;

  p {
    color: white;
    font-size: 1.3em;
  }
}
select {
  font-size: 14px;
  width: 100px;
  border-radius: 1px;
  letter-spacing: -0.5px;
}

.logo {
  width: 20%;
  margin-left: 50px;
}

.myList {
  //width: 110%;
  display: grid;
  color: white;
  grid-template-columns: 320px 320px 320px 320px;
  grid-template-rows: 300px 300px 300px;
}

figure {
  position: relative;
  // width: 350px;
  // height: 100%;
}

figure img {
  width: 300px;
  height: 290px;
  padding: 0px;
  margin: 0px;
  //-o-object-fit: contain;
  object-fit: cover;
}

figure p {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  line-height: 1.5em;
  color: white;
  bottom: 0em;
  align-items: center;
  //padding-left: 30px;
  margin: 5px;
}

@include tablet {
  .items {
    margin-left: 30px;
    background-color: grey;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    align-content: space-between;
  }

  //   .choose {
  //     font-size: 16px;
  //     padding-top: 60px;
  //     padding-left: 0px;
  //     select {
  //       font-size: 14px;
  //       width: 80%;
  //       padding: 0px 0px 0px 5px;
  //       border-radius: 3px;
  //       letter-spacing: -0.5px;
  //     }
  //   }
  //   .logo {
  //     width: 20%;
  //     margin-left: 50px;
  //   }

  //   .myList {
  //     //width: 110%;
  //     display: grid;
  //     color: white;
  //     grid-template-columns: 320px 320px 320px 320px;
  //     grid-template-rows: 300px 300px 300px;
  //   }
}

// @include desktop {

//   }

// }

@include mobile {
  .items {
    margin-left: 30px;
    background-color: green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    align-content: space-between;
  }
}
